.App {
  text-align: center;
}


.alert{
  border-radius: 8px;
  border-style: solid;
  padding: 6px 25px;
  display: inline-block;
  margin-bottom: 2px;
}

.alert-notice{
  border-color: #2eb82e;
  background-color: #adebad;

}
.alert-warning{
  border-color: #ffbf00;
  background-color:  #ffd699;
}
.alert-error{
  border-color: #ff0000;
  background-color: #ff9999;
}